version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=olt_mng
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    restart: always

  freeradius:
    build: ./radius
    ports:
      - "1812:1812/udp"
      - "1813:1813/udp"
    depends_on:
      - postgres
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASS=postgres
      - DB_NAME=olt_mng
    restart: always
    command: freeradius -XX
